<!-- <div class="container" style="max-width: 700px;" id="insertCompanyForm">
    <h3 class="mb-5">Form title</h3>
    <form action="action_page.php" >
        <div class="row">
            <div class="col-25">
                <label for="fname">Tekst</label>
            </div>
            <div class="col-75">
                <input type="text" id="tekstID" name="tekstID" [(ngModel)]='dataMock.username' placeholder="Tekst.." required>
            </div>
        </div>

         <div class="row">
            <div class="col-25">
               <label for="fname">Broj</label>
            </div>
            <div class="col-75">
               <input type="number" id="Broj" name="Broj" [(ngModel)]='dataMock.ID' placeholder="Broj .."  required>
            </div>
         </div>

         <div class="row">
            <div class="col-25">
               <label for="fname">Slika/File</label>
            </div>
            <div class="col-75">
               <input type="file" class="form-control" id="customFile" required>
            </div>
         </div>

         <div class="row">
            <div class="col-25">
               <label for="fname">Radio Button</label>
            </div>
            <div class="col-75">
               <input ng-control="options" id="type1" name="type" [value]="Opcija 1" [(ngModel)]='dataMock.type'>
               <label for="opt1">Opcija 1</label>
               <input ng-control="options" id="type2" name="type" [value]="Opcija 2" [(ngModel)]='dataMock.type'>
               <label for="opt2">Opcija 2</label>
            </div>
         </div>

         <div class="row">
            <div class="col-25">
               <label for="fname">Datum</label>
            </div>
            <div class="col-75">
               <input type="date" class="form-control" id="date" value="2018-07-22" [(ngModel)]='dataMock.date'>
            </div>
         </div>

         <div class="row">
            <div class="col-25">
               <label for="fname">Checkbox</label>
            </div>
            <div class="col-75">
               <input type="checkbox" class="form-control" id="pol" >
               <label for="fname">Da/Ne</label>
            </div>
         </div>


        <div class="row">
            <input type="submit" value="Potvrdi" (click)="someFunction()">
        </div>

    </form>
</div> -->