<div class="topnav" id="myTopnav" *ngIf="user!=null">
    <a href="companyInfo" class="active">Pregled informacija</a>
    <a href="companyPartners">Narucioci</a>
    <a href="companyArticles">Robe i usluge</a>
    <a href="companyArrOfArticles">Raspored artikala</a>
    <a href="companyTables " >Raspored stolova</a>
    <a href="companyMakeBill " >Izdavanje racuna</a>
    <a href="companyReport " >Pregled izvestaja</a>
    <a href="changePass">Promeni lozinku</a>
    <a href="logout" >Logout</a>
    <a href="javascript:void(0);" class="icon" onclick="navBarFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>

