
<div style="overflow-x:auto;" >    
    <table>
        <h3>Table Title</h3>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
            <th>Date</th>
            <th>Articles</th>
        </tr>
        <tr *ngFor="let mockObjects of dataArray">
            <td>{{mockObjects.ID}}</td>
            <td>{{mockObjects.username}}</td>
            <td>{{mockObjects.password}}</td>
            <td>{{mockObjects.email}}</td>
            <td>{{mockObjects.date}}</td>
            <td>
        <tr>
            <th>idArticle</th>
            <th>Name</th>
        </tr>
        <tr *ngFor="let mockArticles of mockObjects.arrayData">
            <td>{{mockArticles.idArticle}}</td>
            <td>{{mockArticles.name}}</td>
            <!-- <td><input type="submit" value="Dodaj Artikal" (click)="someFunction()"></td> -->
        </tr>
        </td>
        <!-- <td><input type="submit" value="Izmeni" (click)="someFunction()"></td> -->
        </tr>
    </table>
    <br>
</div>
